@import "~@fortawesome/fontawesome-free/css/all.min.css";
/* Estilos para la barra de desplazamiento en Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Usa un color cercano al fondo de la página */
  border-radius: 10px; /* Bordes redondeados del track */
}

::-webkit-scrollbar-thumb {
  background: rgb(120, 205, 233); /* Color del thumb */
  border-radius: 12px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Color más oscuro al pasar el mouse */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(120, 205, 233, 0); /* Sombra sin color al inicio */
    border-color: rgba(120, 205, 233, 0); /* Borde sin color al inicio */
  }
  50% {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(120, 205, 233, 0.7); /* Sombra más grande y visible */
    border-color: rgb(120, 205, 233); /* Borde con color más prominente */
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(120, 205, 233, 0); /* Vuelve a la sombra sin color al final */
    border-color: rgba(120, 205, 233, 0); /* Vuelve al borde sin color al final */
  }
}


@keyframes textFadeInOut {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 rgba(120, 205, 233, 0); /* Sombra de texto sin color al inicio */
  }
  50% {
    transform: translateY(-8);
    text-shadow: 0 10px 20px rgba(120, 205, 233, 0.7); /* Sombra de texto más prominente */
  }
  100% {
    transform: translateY(0);

    text-shadow: 0 0 0 rgba(120, 205, 233, 0); /* Vuelve a la sombra sin color al final */
  }
}

@keyframes blurFocus {
  0% {
    filter: blur(0px);
  }
  30% {
    filter: blur(5px);
  }
  80% {
    filter: blur(0px);
  }
}
/* Estilo para la barra de progreso circular en la parte superior izquierda */
/* src/components/ProgressWheel.css */

.progress-wheel {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  stroke-width: 8;
  fill: none;
  z-index: 1000;
  transition: opacity 0.3s, transform 0.3s; /* Añade transición para opacidad y transformación */
}

.progress-wheel.hidden {
  opacity: 0; /* Hace la rueda invisible */
  transform: scale(0.8); /* Reduce el tamaño para un efecto de desaparición */
}

.progress-wheel.visible {
  opacity: 1; /* Hace la rueda visible */
  transform: scale(1); /* Tamaño normal para un efecto de aparición */
}

.progress-wheel .bg {
  stroke: white;
}

.progress-wheel .progress {
  stroke: rgb(120, 205, 233); /* Cambia este color según tus preferencias */
  stroke-dasharray: 0, 100;
  transition: stroke-dasharray 0.3s;
}


.home-container {
  color: white;
  padding: 0 0;
}

/* Hero Section */
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
  }

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido al inicio (izquierda) */
  max-width: 50%;
}

.hero-text {
  font-size: 6rem; /* Ajusta el tamaño según necesidad */
  color: white;
  margin: 0;
  animation: fadeIn 2s ease-out, textFadeInOut 5s infinite; /* Aplica ambas animaciones */
  display: inline-block; /* Asegura que el borde y la sombra se apliquen correctamente */
}

.hero-subtext {
  font-size: 3rem;
  color: rgb(120, 205, 233); /* Color naranja para resaltar */
  margin-top: -20px;
  animation: fadeIn 2s ease-out; /* Aplica la animación de fade-in */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: -30px;
  margin-right: -20px;
}

.social-icons a,
.social-icons .email-copy-button {
  font-size: 1.5rem;
  color: white;
  transition: transform 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el icono y el texto */
}

.social-icons a:hover,
.social-icons .email-copy-button:hover {
  transform: scale(1.2);
  color: rgb(120, 205, 233);
}
.hero-image {
  max-width: 60%;
  border-radius: 20px;
  height: auto;
  opacity: 0; /* Asegúrate de que comience invisible */
  animation: fadeIn 2s ease-out forwards, fadeInOut 5s infinite; /* Aplica ambas animaciones */
} 

.hero-image-container {
  max-width: 45%; /* Asegura que la imagen no ocupe más del 45% del ancho */
  display: flex;
  justify-content: right;
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-image {
    width: 90%; /* Ajusta el ancho de la imagen en pantallas pequeñas */
    align-items: center;
    max-width: 300px;
    margin-top: 60px; /* Añadir un margen para separar la imagen del texto */
  }
}
/* About Me Section */
.about-section {
  padding: 40px 0;
  text-align: center;
  max-width: 800px; /* Limita el ancho horizontal */
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.about-section h2 {
  font-size: 2.5rem; /* Reduce el tamaño de la fuente del título */
  margin-bottom: 20px;
  color: rgb(120, 205, 233); /* Color naranja para resaltar */


}

.about-section p {
  font-size: 1.2rem; /* Reduce el tamaño de la fuente del párrafo */
  margin-bottom: 40px;
  line-height: 1.6; /* Mejora la legibilidad del texto */
}

/* Highlight Keywords */
.highlight {
  color: rgb(120, 205, 233); /* Cambia el color según el diseño de tu portafolio */
  font-weight: bold;
}

/*Experience Section*/
.experience-section {
  padding: 2rem 0;
}

.experience-title {
  font-size: 2.5rem;
  color: rgb(120, 205, 233);
  text-align: center;
  margin-bottom: 2rem;
}

.experience-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 800px; /* This will limit the width of the content */
  margin: 0 auto; /* Center the item horizontally */
  width: 100%; /* Ensures it takes up available width */

}

.experience-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(120, 205, 233);
  border-radius: 50%;
}

.timeline-line {
  width: 2px;
  background-color: rgb(120, 205, 233);
  flex-grow: 1;
}

.experience-content {
  padding: 1.5rem;
  border-radius: 8px;
  color: #ffffff;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-role {
  font-size: 1.5rem;
  color: rgb(120, 205, 233);
}

.experience-company {
  font-size: 1rem;
  color: rgb(120, 205, 233);
}

.experience-date {
  font-size: 1rem;
  color: #a0a0a0;
}

.experience-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.6;
}


/* Technologies Section */
.technologies-section {
  padding: 40px 0;
  text-align: center;
}
.technologies-title{
  color: rgb(120, 205, 233);
  font-size: 1.5rem;
}

.technologies-section h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 0 auto; /* Centra la lista horizontalmente si es necesario */
  max-width: 800px;
}

.technology-item i {
  font-size: 4rem;
  color: white; /* Color blanco por defecto */
  transition: color 0.3s ease; /* Transición más lenta para el cambio de color */
  
}

/* Colores específicos de los iconos al hacer hover */
.technology-item:hover i.fa-js {
  color: #f5e35c; /* Color de JavaScript */
}

.technology-item:hover i.fa-react {
  color: #61dafb; /* Color de React */
}

.technology-item:hover i.fa-html5 {
  color: #e34c26; /* Color de HTML5 */
}

.technology-item:hover i.fa-css3-alt {
  color: #1572b6; /* Color de CSS3 */
}

.technology-item:hover i.fa-flutter {
  color: #084679; /* Color de Flutter */
}

.technology-item:hover i.fa-fire {
  color: #ffca28; /* Color de Firebase */
}

.technology-item:hover i.fa-database {
  color: #003b6f; /* Color de MySQL */
}
.technology-item:hover i.fa-github {
  color: black; /* Color de MySQL */
} 
.technology-item:hover i.fa-python {
  color:  #daaf17;
}

.technology-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: transparent; /* Fondo transparente */
  border-radius: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animación más lenta */
}

.technology-item:hover {
  transform: translateY(-10px); /* Efecto de elevación */
}

.technology-item:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(120, 205, 233); /* Sombra con transparencia */
  border-radius: 20px; /* Asegura que coincida con el borde del elemento */
  filter: blur(10px); /* Suaviza la sombra */
  z-index: -1; /* Coloca la sombra detrás del contenido */
  transition: all 0.3s ease; /* Transición más lenta también para la sombra */
}

.tech-name {
  display: none;
  position: absolute;
  bottom: -40px; /* Ajusta según sea necesario */
  color: #fff; /* Color del texto */
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(10px); /* Mueve el texto hacia abajo */
}

.technology-item:hover .tech-name {
  display: block;
  opacity: 1; /* Hacer visible el texto */
  transform: translateY(0); /* Desplazar el texto a su posición original */
}


.technology-item:hover .tech-name {
  display: block;
}

/* Social Icons */
.social-links {
  text-align: center;
  margin: 40px 0;
}

.social-links-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a,
.social-icons .email-copy-button {
  font-size: 2rem;
  color: white;
  transition: transform 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.social-icons a:hover,
.social-icons .email-copy-button:hover {
  transform: scale(1.1);
  color: rgb(120, 205, 233);
}

.email-copy-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  color: white;
}

.copy-success-message {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #4caf50; /* Verde para indicar éxito */
  text-align: center;
}

/* Projects Section */
.projects-section {
  padding: 50px 0;
  text-align: center;
}

.projects-title {
  font-size: 2.5rem;
  color: rgb(120, 205, 233);
  margin-bottom: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 80px; /* Espacio entre las tarjetas */
  justify-content: center;
}

.project-card {
  background-color: white; /* Fondo similar al de tu página */
  border: 4px solid rgb(120, 205, 233); /* Borde gris claro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px; /* Ajusta según sea necesario */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para hover */
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgb(120, 205, 233); /* Sombra con un color brillante */
  border-color: rgb(120, 205, 233); /* Borde más oscuro en hover */
}
.animated-svg {
  width: 50px; /* Ajusta el tamaño según lo que necesites */
  height: 50px;
  margin-top: 10px; /* Ajusta márgenes si es necesario */
}


.hidden {
  display: none; /* Ocultar proyectos no relevantes */
}
.project-image {
  width: 100%;
  height: 280px;
  object-fit: contain; /* Ajusta la imagen para cubrir el área del contenedor sin distorsión */
  border-radius: 12px;
  margin-bottom: 10px;
}


.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.technologies i {
  font-size: 1.8rem;
  color: black;
}

.technologies i:hover {
  color: rgb(120, 205, 233);
  transition: color 0.15s ease;
}

.github-icon {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.15s ease;
}

.github-icon i {
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.github-icon:hover {
  color: rgb(120, 205, 233); /* Color de hover del icono de GitHub */
}

/* Formation Section */
.formation-section {
  padding: 2rem 0;
  max-width: 800px; /* Limita el ancho horizontal */
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.formation-title {
  font-size: 2.5rem;
  color: rgb(120, 205, 233);
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}


.formation-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

.formation-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(120, 205, 233);
  border-radius: 50%;
}

.timeline-line {
  width: 2px;
  background-color: rgb(120, 205, 233);
  flex-grow: 1;
}

.formation-content {
  padding: 1.5rem;
  border-radius: 8px;
  color: #ffffff;
  flex: 1; /* Permite que ocupe el espacio restante */
}

.formation-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.formation-name {
  font-size: 1.5rem;
  color: rgb(120, 205, 233);
  margin-bottom: 0.5rem;
}

.formation-company {
  font-size: 1.2rem;
  color: #a0a0a0;
}

.formation-date {
  display: block;
  font-size: 1.1rem;
  color: #a0a0a0;
  margin-bottom: 0.5rem;
}

.formation-description {
  font-size: 1rem;
  line-height: 1.6;
}

/* Footer */
.footer {
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: 120px;
}
