@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Fondo oscuro con un toque de luz de neón */
/* Fondo oscuro con un toque de luz de neón */
html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Usa la fuente Poppins */
  width: 100%;
  color: #fff; /* Color del texto */
  position: relative;
  background: radial-gradient(circle at top left, #000, rgb(50, 103, 121), #000);  background-size: cover; /* Asegura que el gradiente cubra toda la pantalla */
  background-attachment: fixed; /* Mantiene el fondo fijo durante el desplazamiento */
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  
}



/* Define la animación para el gradiente */
@keyframes cambiar {
  0% { background-position: 0% 0%; }s
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

